
image: Visual Studio 2017
configuration: Release
platform: Any CPU
skip_tags: true

environment:
  autodi_version: 4.0.1

assembly_info:
  patch: false

nuget:
  account_feed: false
  project_feed: true
  disable_publish_on_pr: true

before_build:
- ps: >-
    nuget restore AutoDI.sln

    nuget restore AutoDI.Test.sln

build_script:
- ps: >-
    msbuild AutoDI.sln /property:Configuration=Release /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

    msbuild AutoDI.Test.sln /property:Configuration=Release /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

test_script:
- vstest.console /logger:Appveyor "AutoDI.Build.Tests\bin\Release\net472\AutoDI.Build.Tests.dll" "AutoDI.Tests\bin\Release\net472\AutoDI.Tests.dll" "Tests\FullFrameworkLib.Tests\bin\Release\FullFrameworkLib.Tests.dll"
- dotnet test --no-build --no-restore AutoDI.Test.sln


for:
-
  branches:
    only:
      - preview
  init:
  - ps: >-
      Update-AppveyorBuild -Version "$env:autodi_version-ci$env:appveyor_build_number"
  
      Set-AppveyorBuildVariable -Name "autodi_version_full" -Value "$env:autodi_version.$env:appveyor_build_number"
  after_build:
  - ps: >-
      .\Nuget\UpdateNuspecFiles.ps1 -Version "$env:autodi_version-ci$env:appveyor_build_number"
    
      nuget pack Nuget\AutoDI\AutoDI.nuspec -Version "$env:autodi_version-ci$env:appveyor_build_number" -Symbols
    
      nuget pack Nuget\AutoDI.Build\AutoDI.Build.nuspec -Version "$env:autodi_version-ci$env:appveyor_build_number" -Symbols
    
      nuget pack Nuget\AutoDI.AspNetCore\AutoDI.AspNetCore.nuspec -Version "$env:autodi_version-ci$env:appveyor_build_number" -Symbols
    
      nuget pack Nuget\AutoDI.Generator\AutoDI.Generator.nuspec -Version "$env:autodi_version-ci$env:appveyor_build_number" -Symbols
  artifacts:
  - path: '*.nupkg'
    name: NuGets
  deploy:
  - provider: Environment
    name: NuGet publish

-
  branches:
    only:
      - release
  init:
  - ps: >-
      Update-AppveyorBuild -Version "$env:autodi_version"
  
      Set-AppveyorBuildVariable -Name "autodi_version_full" -Value "$env:autodi_version.$env:appveyor_build_number"
  after_build:
  - ps: >-
      .\Nuget\UpdateNuspecFiles.ps1 -Version "$env:autodi_version"
    
      nuget pack Nuget\AutoDI\AutoDI.nuspec -Version "$env:autodi_version" -Symbols
    
      nuget pack Nuget\AutoDI.Build\AutoDI.Build.nuspec -Version "$env:autodi_version"  -Symbols
    
      nuget pack Nuget\AutoDI.AspNetCore\AutoDI.AspNetCore.nuspec -Version "$env:autodi_version"  -Symbols
    
      nuget pack Nuget\AutoDI.Generator\AutoDI.Generator.nuspec -Version "$env:autodi_version" -Symbols
  artifacts:
  - path: '*.nupkg'
    name: NuGets
  deploy:
  - provider: Environment
    name: NuGet publish
