<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDI" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="AutoDI.Fody" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Fody" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>